torch>=1.12
torchvision
torchaudio
tensorboardX
tqdm
matplotlib
pandas
numpy<2; platform_system == "Windows"
numpy>=2; platform_system != "Windows"
scipy
einops
ml-collections
nibabel
wget
timm
medpy
scikit-learn
